@using BMCR_projeckt.ViewModels
@model BMCR_projeckt.ViewModels.BuildingViewModel
@{
    int a = 0;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Detail</title>
</head>
<body class="bg-dark text-white">
<h1 class="m-2">Detail of building: @Model.Name</h1>

<div class="d-flex justify-content-center align-items-center flex-column border-3 m-5">
    <h2>@Model.Name</h2>
    <p class="text-light mb-2">@Model.ID</p>
    <div class="d-flex justify-content-center">
        <a asp-controller="CreateRoom" asp-action="CreateRoom" asp-route-BuildingID="@Model.ID" class="btn btn-success">
            Create new ROOM
        </a>
    </div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody>
        @foreach (RoomViewModel r in Model.Rooms)
        {
            <tr>
                <th scope="row">@a</th>
                <td>@r.Name</td>
                <td>
                    <a asp-controller="CreateRoom" asp-action="EditRoom" asp-route-ID="@r.ID" asp-route-BuildingID="@Model.ID" class="btn btn-warning">
                        ✏
                    </a>
                </td>
                <td>
                    <a asp-controller="CreateRoom" asp-action="DeleteRoom" asp-route-ID="@r.ID" asp-route-BuildingID="@Model.ID" class="btn btn-danger">
                        💣
                    </a>
                </td>
                <td>
                    <a asp-controller="CreateRoom" asp-action="DetailRoom" asp-route-ID="@r.ID"
                       asp-route-BuildingID="@Model.ID" class="btn btn-info">
                        Detail
                    </a>
                </td>
            </tr>
            @if (true)
            {
                a++;
            }
        }
        </tbody>
    </table>

</div>
<div class="d-flex justify-content-center">
    <a href="/Create/Index" class="btn btn-secondary">View buildings</a>
</div>

</body>
</html>