@using BMCR_projeckt.ViewModels
@model BMCR_projeckt.ViewModels.RoomViewModel
@{
    int a = 0;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Detail Room</title>
</head>
<body class="bg-dark text-white">
<h1 class="m-2">Detail of room: @Model.Name</h1>

<div class="d-flex justify-content-center align-items-center flex-column border-3 m-5">
    <h2>@Model.Name</h2>
    <p class="text-light mb-2">@Model.ID</p>

    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-success"href="/Time/CreateTime">
            Create new TIME
        </a>
    </div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (TimeViewModel t in Model.Times)
        {
            <tr>
                <th scope="row">@a</th>
                <td>@t.Description</td>
                <td>@t.From</td>
                <td>@t.To</td>
                <td>
                    <a asp-controller="Time" asp-action="EditTime" asp-route-ID="@t.ID" asp-route-BuildingID="@Model.ID" class="btn btn-warning">
                        ✏
                    </a>
                </td>
                <td>
                    <a asp-controller="Time" asp-action="DeleteTime" asp-route-ID="@t.ID" asp-route-BuildingID="@Model.ID" class="btn btn-danger">
                        💣
                    </a>
                </td>
            </tr>
            @if (true)
            {
                a++;
            }
        }

        </tbody>
    </table>

</div>

<div></div>
</body>
</html>